h1{
	font-family: 'Days One', sans-serif;
}

div.box, div.cell {
	display: inline-block;
	/*font-size: 0px;*/
 
}

div.row {
	/*margin-bottom: 3px*/
}

div.box{
border :2px solid #e6fb8b;
}
div.soduku div.container{
	text-align: center;
}

div.grid{
	font-size: 0px;
	margin: 0 auto;
	width: 473px;
	border :2px solid black;
}

.value-provided {
	background-color: #d6d6d6;
}

.incorrect {
	background-color: #e6fb8b;
}


.cell input {
		margin: 3px 3px 3px 3px;
    float:left;
    display:inline;
    width:45px;
    height:45px;
    text-align:center;
    font-size:17px;
    font-family: 'Days One', sans-serif;
    border:2px solid #D3D3D3;
    border-radius: 50%;*/
    margin:0;
 }

div.title
{
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
	padding:0px 0px; 
	width:900px;
	border-radius:8px;
}

.flash {
	text-align: center;
	font-size: 25px;
  margin: 0 auto;
  background-color: #e6fb8b;
  margin-bottom: 15px;
}

.button{
	margin: 0 auto;
	font-family: 'Days One', sans-serif;
	text-align: center;
 	border-radius: 50%;
 	width:80px;
  height:80px;
  background-color: #e6fb8b;
}
.left{
	float: left;
margin-left: 300px;
margin-top: 105px;
}
.right{
float: right;
text-align: left;
margin-top: -275px;
margin-right: 300px;
}


