div.box, div.cell {
	display: inline-block;
	font-size: 0px;
 
}

div.row {
	margin-bottom: 3px
}

div.box{
	padding: 1px 1px 1px 1px;
	border: 2px solid blue;
	border-radius: 8;
}
div.soduku div.container{
	text-align: center;
}

div.grid{
	margin: 0 auto;
	width: 440px;
	
}


.cell input {
    float:left;
    display:inline;
    width:45px;
    height:45px;
    text-align:center;
    font-size:29px;
    border:2px solid black;
    border-radius: 8;
    margin:0;

}

div.title
{
		margin: 0 auto;
	margin-bottom: 65px;
	text-align: center;
	border:2px solid blue;
	padding:10px 40px; 
	background:#dddddd;
	width:440px;
	border-radius:8px;
}

